@font-face{
    font-family: Inconsolata-Regular;
    src: url(../fonts/Inconsolata-Regular/Inconsolata-Regular.ttf);
}

@font-face{
    font-family: PlayfairDisplay-Regular;
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}


@font-face{
    font-family: Ubuntu-Light;
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}

.wrap {
  width: 893px;
  margin: 0 auto;
}

.header {
  width:1061px;
  padding-top: 68px;
  margin:0 auto;
  height: 23px;
}

.header .logo {
  width: 119px;
  height: 23px;
  font-size: 30px;
  line-height: 24px;
  font-family: Inconsolata-Regular;
  color: #000;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight:normal;
}

.header .menu {
  float: right;
  font-size: 14px;
  font-family: PlayfairDisplay-Regular;
  color: #626262;
  line-height: 24px;
  height: 11px;
}

.header .menu ul {
  list-style: none;
  display: inline;
}

.header .menu ul li {
  display: inline;
  margin-left: 100px;
}

.header .menu ul li a{
    display: inline;
}

.wrap .tips {
  font-size: 14px;
  font-family: Ubuntu-Light;
  color: #B4AD9E;
}

.wrap .title {
  font-size: 30px;
  font-family: PlayfairDisplay-Regular;
  color: #626262;
}

.wrap .content {
  font-size: 14px;
  font-family: PlayfairDisplay-Regular;
  color: #626262;
  line-height: 24px;
}

.footer {
  margin-top: 50px;
  height: 97px;
  background-color: #F0F0F0;
  font-size: 14px;
  font-family: PlayfairDisplay-Regular;
  color: #000;
  line-height: 24px;
}

.footer .left {
  height: 12px;
  float: left;
  margin-left: 150px;
  margin-top: 40px;
}

.footer .right{
    margin-top: 40px;
    margin-right: 100px;
    float: right;
    height: 12px;
}

.footer  .right ul{
    list-style: none;
}

.footer .right li{
    display: inline;
    margin-left: 20px;
}


.footer .right li img{
    display: inline;
}

.banner {
  width: 1061px;
  padding-top: 77px;
  margin: 0 auto;
  height: 509px;
}

.wrap .article {
  margin-top: 97px;
}

.article .title {
  margin-top: 28px;
}

.article .content {
  margin-top: 43px;
  width: 893px;
}

.album {
  overflow: auto;
}

.album .photo {
  margin-top: 43px;
  width: 50%;
  float: left;
}

.album .photo img {
  width: 420px;
  height: 280px;
}

.album .content {
  height: 70px;
  width: 414px;
  overflow: hidden;
}

.album .tips {
  margin-top: 20px;
}

.album .title {
  margin-top: 28px;
}

.album .content {
  margin-top: 43px;
}

.signup {
  margin-top: 125px;
  width: 100%;
  height: 287px;
  background-color: #F0F0F0;
}

.signup .panel {
  width: 394px;
  height: 30px;
  font-size: 30px;
  font-family: PlayfairDisplay-Regular;
  color: #333;
  margin: 0 auto;
  padding-top: 73px;
}

.loadmore {
  margin-top: 50px;
  height: 60px;
  text-align: center;
  margin-bottom: 1370px;
}

.loadmore button {
  width: 164px;
  height: 60px;
  font-size: 20px;
  font-family: PlayfairDisplay-Regular;
  color: #626262;
  border: 1px solid #626262;
  color: white;
  background-color: white;
}
.loadmore a{
  color: #626262;
}
.fli{
  display: inline;
  margin-left: 20px;
}
.fa{
  display: inline;
   color: #000;
}
.nav{
  color: #616161;
}
.newsletter_form form input {
  width: 453px;
  height: 40px;
  background:transparent;
  border:none;
  border-bottom: 1px solid black;
}
.newsletter_form form button { 
  /*position: absolute;*/
  border:none;
  background:transparent;
  right: 4px;
  top:10px;
  /*display: inline-block;*/

}
 .newsletter_form{
  text-align: center;
  padding-top: 40px;
 }
 .social{
  display: inline;
 }
 .comment{
  font-size: 14px;
  font-family: Ubuntu-Light;
  color: #B4AD9E;
  padding-top: 70px;
  padding-bottom: 100px;
 }
